
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <style>
    * {
      -webkit-print-color-adjust: exact;
    }
    body,
    html {
      font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
      padding: 0;
      text-align: center;
      margin: 0;
    }
    .card {
      width: 575px;
      height: 1000px;
      background-size: contain;
      background-repeat: no-repeat;
      position: relative;
    }
    .user {
      font-weight: bold;
      position: absolute;
      top: 19%;
      font-size: 18px;
      left: 0;
      right: 0;
    }
    .type {
      font-weight: bold;
      position: absolute;
      top: 52.8%;
      font-size: 18px;
      left: 0;
      right: 0;
    }
    .code {
      position: absolute;
      font-size: 16px;
      top: 54.8%;
      left: 0;
      right: 0;
    }
    img {
      width: 400px;
      position: absolute;
      object-fit: contain;
      max-height: 200px;
      top: 30%;
      left: 12%;
    }
    img.picture {
      width: 300px;
      top: 28%;
      left: 25%;
    }
  </style>
</head>

<body>
  <div class="card" style="background-image: url(https://storage.diggersfactory.com/assets/images/gifts/gift2023_{{ lang }}.jpg);">
    @if(picture_project)
      <img src="{{ picture }}" class="picture" />
    @else
      <img src="{{ picture }}" />
    @endif
    <div class="user">{{ user }}</div>
    <div class="type">{{ artist }}</div>
    <div class="code">{{ name }}</div>
  </div>
</body>
</html>