
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <style>
    * {
      -webkit-print-color-adjust: exact;
    }
    body,
    html {
      font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
      padding: 0;
      text-align: center;
      margin: 0;
    }
    .card {
      width: 1372px;
      height: 2000px;
      width: 575px;
      height: 840px;
      background-size: contain;
      background-repeat: no-repeat;
      position: relative;
      background: red;
    }
    .type {
      color: #FFF;
      font-weight: bold;
      position: absolute;
      top: 74.5%;
      font-size: 18px;
      left: 0;
      right: 0;
    }
    .code {
      position: absolute;
      font-weight: bold;
      font-size: 21px;
      top: 80%;
      left: 0;
      right: 0;
    }
    img {
      width: 600px;
      position: absolute;
      top: 30%;
      left: 0%;
    }
  </style>
</head>

<body>
  <div class="card" style="background-image: url(https://storage.diggersfactory.com/assets/images/box/cards/discover_fr{{ lang }}2.jpg)">
    <img src="{{ picture }}" />
    <div class="type">{{ artist }}</div>
    <div class="code">{{ name }}</div>
  </div>
</body>
</html>