<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <style>
    * {
      -webkit-print-color-adjust: exact;
    }
    body,
    html {
      font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 11px;
      padding: 0px;
      margin: 0px;
    }
    .header {
      background: #000;
      padding: 10px 30px;
      color: #FFF;
      line-height: 1.5em;
      justify-content: space-between;
      align-content: center;
      text-align: center;
    }
    .header img {
      height: 40px;
    }
    .form {
      padding: 30px;
      text-align: center;
    }
    .text {
      width: 60%;
      margin: 0 auto;
    }
    .title {
      font-size: 100%;
      text-transform: uppercase;
      font-weight: bold;
      border-bottom: 1px solid #DDD;
      margin-bottom: 10px;
      margin-top: 20px;
      padding: 10px 0;
    }
    .btn {
      display: inline-block;
      padding: 12px 20px;
      font-weight: bold;
      border-radius: 25px;
      font-size: 13px;
      background: #ffd21e;
      color: #000;
      text-decoration: none;
      margin-top: 20px;
    }
    ul {
      margin-top: 10px;
      margin-bottom: 20px;
      display: inline-block;
      text-align: left;
    }
    .footer {
      padding: 20px;
      font-size: 11px;
      color: #999;
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="header">
    <table width="100%">
      <tr>
        <td style="text-align: center;">
          <img src="https://storage.diggersfactory.com/assets/images/logo_w.png" alt="Diggers Factory">
        </td>
      </tr>
    </table>
  </div>
  <div class="form">
    <h1 style="font-size: 18px; font-weight: bold; margin-bottom: 20px;">
      @if(lang === 'en')
        Hey {{ userName }}!
      @else
        Bonjour {{ userName }} !
      @endif
    </h1>

    @if(lang === 'en')
    <p> <strong>{{ projectName }}</strong> is still in the pre-production stage at Diggers Factory.</p>

    <p class="text">In order to start production, we still need a few elements. To send them to us, go to your "<strong>Production Tracking</strong>" area. You will then be able to import the necessary elements.</p>

    <p>The missing elements are as follows:</p>
    <ul>
      @each(item in missingItems)
        <li>{{ item }}</li>
      @endeach
    </ul>

    <p style="text-align: center;">
      <a href="{{ productionLink }}" class="btn">GO TO MY PRODUCTION TRACKING</a>
    </p>

    <p style="margin-top: 30px;">Best regards,</p>
    <p style="color: #999;">The Diggers Factory team.</p>
  </div>
  <div class="footer">
    A question? <a href="https://intercom.help/diggersfactory/en">Our FAQ is here to guide you.</a><br>
    Diggers Factory, 10 boulevard Arago, 75013, Paris, France
    @else
    <p> <strong>{{ projectName }}</strong> est toujours au stade de pré-production chez Diggers Factory.</p>

    <p class="text">Afin de lancer la production, nous avons encore besoin de quelques éléments. Pour nous les communiquer, rendez-vous dans votre espace « <strong>Suivi de Production</strong> ». Vous pourrez alors importer les éléments nécessaires.</p>

    <p>Les éléments manquants sont les suivants :</p>
    <ul>
      @each(item in missingItems)
        <li>{{ item }}</li>
      @endeach
    </ul>

    <p style="text-align: center;">
      <a href="{{ productionLink }}" class="btn">ALLER SUR MON SUIVI DE PRODUCTION</a>
    </p>

    <p style="margin-top: 30px;">Amicalement,</p>
    <p style="color: #999;">L'équipe Diggers Factory.</p>
  </div>
  <div class="footer">
    Une question ? <a href="https://intercom.help/diggersfactory/fr">Notre FAQ est là pour vous guider.</a><br>
    Diggers Factory, 10 boulevard Arago, 75013, Paris, France
    @endif
  </div>
</body>
</html>
