
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <style>
    * {
      -webkit-print-color-adjust: exact;
    }
    body,
    html {
      font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 11px;
      padding: 0px;
      margin: 0px;
    }
    .header {
      background: #000;
      padding: 10px 30px;
      color: #FFF;
      line-height: 1.5em;
      justify-content: space-between;
      align-content: center;
    }
    .header img {
      height: 40px;
    }
    .header .number {
      font-weight: bold;
      margin-bottom: 10px;
    }
    .form {
      padding: 30px;
    }
    .title {
      font-size: 100%;
      text-transform: uppercase;
      font-weight: bold;
      border-bottom: 1px solid #DDD;
      margin-bottom: 10px;
      margin-top: 20px;
      padding: 10px 0;
    }
    .subtitle {
      font-size: 100%;
      text-transform: uppercase;
      font-weight: bold;
      border-bottom: 1px solid #DDD;
      margin-bottom: 20px;
      margin-top: 20px;
      padding: 10px 0;
    }

    .preview {
      display: flex;
      background: #F0F0F0;
      padding: 10px;
      border-radius: 10px;
      margin: 5px 0;
    }
    .vinyl {
      width: 250px;
      margin-right: 10px;
    }
    .vinyl img {
      width: 100%;
    }
    .artist, .name {
      font-weight: bold;
      font-size: 150%;
      text-transform: uppercase;
      padding: 5px;
      font-weight: bold;
    }
    .name {
      font-size: 120%;
    }
    .label, .barcode, .catnumber {
      font-size: 90%;
      display: inline-block;
      border-radius: 15px;
      border: 1px solid #000;
      padding: 4px 12px;
      margin: 5px;
    }
    .barcode {
      background: #000;
      color: #FFF;
    }
    table {
      width: 100%;
    }
    th {
      color: #888;
      text-align: left;
      text-transform: uppercase;
      font-size: 90%;
    }
    th, td {
      padding: 3px 0px;
    }
    .value {
      text-align: right;
    }
    .total.first {
      padding-top: 15px;
      border-top: 1px solid #DDD;
    }
    .total {
      font-size: 110%;
      text-align: right;
      padding-top: 5px;
      margin-top: 5px;
    }
    .total.last {
      font-size: 130%;
    }
    .total span:first-child {
      margin-right: 10px;
    }
    .total span.tax {
      font-size: 90%;
      color: #999;
    }
    .total .number {
      font-weight: bold;
    }
    .address table tr:nth-child(even) {
      background: #F0F0F0;
    }
    .address table td {
      padding: 10px 15px;
    }
    .sign_outer {
      text-align: right;
    }
    .sign {
      background: #F0F0F0;
      display: inline-block;
      width: 250px;
      height: 60px;
    }
    .warning {
      font-size: 90%;
      padding: 30px;
    }
    .bottom {
      color: #999;
      font-size: 90%;
      text-align: center;

    }
  </style>
</head>

<body>
  <div class="header">
    <table>
      <tr>
        <td width="70%">
          <div class="logo">
            <img src="https://storage.diggersfactory.com/assets/images/logo_w.png" alt="Diggers Factory" />
          </div>
        </td>
        <td>
          <div class="info">
            <div class="address">
              <strong>{{client}}</strong><br />
              @each(a in address)
                {{a}}<br />
              @endeach
              @if(tax_intra)
                {{tax_intra}}
              @endif
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="form">
    <table>
      <tr>
        <td>
          <div class="title">{{t('order_form.quote_details')}} - {{date}}
          @if(project_id)
            <br />
            {{artist_name}} - {{name}} - {{project_id}}
          @endif
        </div>
        </td>
        <td style="text-align:right">
          <div class="title">{{t('order_form.quantity')}} : {{quantity}}</div>
        </td>
      </tr>
    </table>
    </table>
    <table>
      <thead>
        <tr>
          <th>{{t('order_form.description')}}</th>
          <th class="value">{{t('order_form.amount')}}</th>
        </tr>
      </thead>
      <tbody>
        @each(line in lines)
          <tr>
            <td>{{line.label}}</td>
            <td class="value">{{line.currency !== false ? price(line.value) : line.value}}</td>
          </tr>
        @endeach
      </tbody>
    </table>
    <div class="total first">
      <span>{{t('order_form.sub_total')}}</span>
      <span class="number">{{price(sub_total)}}</span>
    </div>
    <div class="total">
      <span>{{t('order_form.tax')}}</span>
      <span class="number">{{price(tax)}}</span>
    </div>
    <div class="total last">
      <span>{{t('order_form.total')}}</span>
      <span class="number">{{price(total)}}</span>
    </div>
    <div class="title">{{t('order_form.sign_customer')}}</div>
    <div class="sign_outer">
      <div class="sign">
      </div>
    </div>
  </div>
  <div class="warning">
    <p>
    @if(lang==="fr")
      Attention, le prix peut varier en fonction de la quantité pressée. En effet il existe une tolérance négative ou positive de 10% sur la production des vinyles. De fait, s’il y a une production de 1000 exemplaires vous pouvez recevoir entre 900 et 1100 vinyles. Le prix final de la production s’adapte en fonction. Le prix de ce devis est garanti 2 semaines.
    @else
      Please note that the price may vary depending on the quantity ordered. Indeed, there is a negative or positive tolerance of 10% on vinyl production. As a result, if there is a production of 1000 copies, you could receive between 900 and 1100 vinyl records. The final production price adjusts accordingly. The price of this quote is guaranteed for 2 weeks.
    @endif
    </p>
  </div>
  <div class="bottom">
    Diggers Factory, 10 boulevard Arago, 75013, Paris, France
  </div>
</body>
</html>