<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <style>
    * {
      -webkit-print-color-adjust: exact;
    }
    body,
    html {
      font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 14px;
      padding: 0 0;
      margin: 0;
    }
    img {
      width: 170px;
    }
    h1 {
      text-align: center;
    }
    p {
      padding: 0px 0px;
      margin: 15px 0;
    }
    table {
      border-collapse: collapse;
      width: 100%;
      text-align: left;
    }
    table td,
    table th {
      padding: 6px 10px;
    }
    table th {
      background: #F0F0f0;
    }
    table.noborder {
      border: 0;
    }
    table.noborder td {
      border: 0;
    }
    tr.total td.label {
      text-align: right;
      border-right: 2px solid #F0F0f0;
    }

    .pad20 {
      padding: 20px 0;
    }
    .header {
      background: #000;
      padding: 20px 30px;
      color: #FFF;
      line-height: 2em;
      justify-content: space-between;
      align-content: center;
      text-emphasis: right;
    }
    .header img {
      height: 40px;
    }
    .header .number {
      font-weight: bold;
      margin-bottom: 10px;
    }
    .clear {
      clear: both;
    }
    .address {
      text-align: left;
      padding-bottom: 20px;
      line-height: 20px;
    }
    .number {
      float: right;
      width: 200px;
    }
    .number table {
      margin-top: 10px;
    }
    .total {
      font-size: 20px;
      font-weight: bold;
      margin: 15px 0;
    }
    .first {
      border-top: 2px solid #F0F0F0;
    }
  </style>
</head>

<body>
  <div class="header">
    <table class="noborder">
      <tr>
        <td width="60%">
          <div class="logo">
            <img src="https://storage.diggersfactory.com/assets/images/logo_w.png" alt="Diggers Factory" />
          </div>
        </td>
        <td>
          <strong>{{ lang === 'fr' ? 'Devis' : 'Quote' }} N°{{ number }}</strong><br />
          <strong>{{ date }}</strong><br />
          <strong>{{ client }}</strong>
        </td>
      </tr>
    </table>
  </div>
  <br />
  <br />

  @if(lang==="fr")
    <p>C'est parti ! Nous avons bien reçu votre demande de devis et sommes là pour vous aider à concrétiser votre projet vinyle.</p>
    <p>Veuillez prendre connaissance des tarifs suivants correspondant aux spécifications de devis que vous avez demandées.<br />
       À noter : ce devis est valable pendant quatorze (14) jours ouvrables et est susceptible d'être modifié si vous souhaitez ajouter ou retirer des éléments.</p>
    <p>Notre délai de réalisation est actuellement de 6 à 8 semaines une fois que tous les éléments nécessaires nous ont été fournis.</p>
  @else
    <p>Let's do this! We received your quote request and are here to help you get your vinyl project off the ground.</p>
    <p>Please review the following pricing from the quote specifications you requested. <br />
      FYI: This quote is valid for fourteen (14) business days and is subject to change should you want to add or remove components.</p>
    <p>Our turnaround time is now 6-8 weeks once all elements have been provided.</p>
  @endif
  <div class="pad20">
    <table>
      <tbody>
        <tr>
          <th>{{ lang === 'fr' ? 'Désignation' : 'Name' }}</th>
          <th>Total</th>
        </tr>
        @each(line in options)
          <tr>
            <td>{{line.name}}</td>
            <td class="value">{{line.value}}</td>
          </tr>
        @endeach
      </tbody>
    </table>
    @if(lang==="fr")
      <p class="total">Prix: {{total}}{{currency_str}}</p>
      <p>Si vous lancez la production d'ici 48h nous vous offrons une remise de 5%</p>
      <p class="total">Prix réduit : {{discount}}{{currency_str}}</p>
      <p>Prix par unité : {{per_unit}}{{currency_str}}</p>
      <p>Le prix ne comporte pas les frais de port.</p>

      <p><strong>Prêt à passer commande ? Il vous suffit de répondre à cet e-mail et nous commencerons !</strong></p>

      <br />
      <p>
        Notre simulateur de devis en ligne inclut nos options standard, mais nous disposons d'une plus large variété de formats, de couleurs et d'effets spéciaux si vous êtes intéressé. Nous pouvons toujours discuter des coûts de production, des délais d'exécution et de tout ce qui est important ou déroutant, et nous ferons de notre mieux pour vous fournir ce dont vous avez besoin !
      </p>
      <p>Nous sommes impatients de travailler ensemble !</p>

    @else
      <p class="total">Total Price: {{total}}{{currency_str}}</p>
      <p>If you start production within 48 hours, we offer you a 5% discount.</p>
      <p class="total">Discounted Price: {{discount}}{{currency_str}}</p>
      <p>Price Per Unit: {{per_unit}}{{currency_str}}</p>
      <p>The price doesn't include shipping costs.</p>
      <p><strong>Ready to order? Just reply to this email and we'll get started!</strong></p>
      <br />
      <p>
        Our online quote simulator includes our standard options, but we do have a wider variety of formats, colors, and special effects if you're interested. We can always discuss production costs, turnaround times, and anything important or confusing, and we'll do our best to get you what you need!
      </p>
      <p>We look forward to working together!</p>
    @endif
    <br />
    <p>
      <strong>Kendale Rice</strong><br />
      <a href="mailto:Kendale@diggersfactory.com">Kendale@diggersfactory.com</a>
    </p>
  </div>
</body>
</html>