<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <style>
    * {
      -webkit-print-color-adjust: exact;
    }
    body,
    html {
      font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 10px;
      text-align: center;
      padding: 0 0;
      margin: 0;
    }
    img {
      width: 170px;
    }
    h1 {
      text-align: center;
    }
    p {
      padding: 0px 0px;
      margin: 5px;
    }
    table {
      border-collapse: collapse;
      width: 100%;
      text-align: left;
    }
    table td,
    table th {
      padding: 6px 10px;
    }
    table th {
      background: #F0F0f0;
    }
    table.noborder {
      border: 0;
    }
    table.noborder td {
      border: 0;
    }
    tr.total td.label {
      text-align: right;
      border-right: 2px solid #F0F0f0;
    }

    .pad20 {
      padding: 20px;
    }
    .header {
      background: #000;
      padding: 20px 30px;
      color: #FFF;
      line-height: 2em;
      justify-content: space-between;
      align-content: center;
      text-emphasis: right;
    }
    .header img {
      height: 40px;
    }
    .header .number {
      font-weight: bold;
      margin-bottom: 10px;
    }
    .clear {
      clear: both;
    }
    .address {
      text-align: left;
      padding-bottom: 20px;
      line-height: 20px;
    }
    .number {
      float: right;
      width: 200px;
    }
    .number table {
      margin-top: 10px;
    }
    .first {
      border-top: 2px solid #F0F0F0;
    }
  </style>
</head>

<body>
  <div class="header">
    <table class="noborder">
      <tr>
        <td width="60%">
          <div class="logo">
            <img src="https://storage.diggersfactory.com/assets/images/logo_w.png" alt="Diggers Factory" />
          </div>
        </td>
        <td>
          <strong>{{ lang === 'fr' ? 'Devis' : 'Quote' }} N°{{ number }}</strong><br />
          <strong>{{ date }}</strong><br />
          <strong>{{ quote.client }}</strong>
        </td>
      </tr>
    </table>
  </div>
  <br />
  <br />
  <div class="pad20">
    <table>
      <tbody>
        <tr>
          <th>{{ lang === 'fr' ? 'Désignation' : 'Name' }}</th>
          <th>Total</th>
        </tr>
        <tr>
          <td>{{ lang === 'fr' ? 'Quantité' : 'Quantity' }}</td>
          <td>{{ quote.quantity }}</td>
        </tr>

        @each(line in quote.lines)
          <tr>
            <td>{{line.label}}</td>
            <td class="value">{{line.value}}</td>
          </tr>
        @endeach
        <tr class="total first">
          <td class="label"><strong>{{ lang === 'fr' ? 'Sous total' : 'Sub total' }}</strong></td>
          <td><strong>{{ quote.sub_total }} {{currency}}</strong></td>
        </tr>
        <tr class="total">
          <td class="label"><strong>{{ lang === 'fr' ? 'TVA' : 'Tax' }} {{ quote.tax_rate }}%</strong></td>
          <td><strong>{{ quote.tax }} {{currency}}</strong></td>
        </tr>
        <tr class="total">
          <td class="label"><strong>Total</strong></td>
          <td><strong>{{ quote.total }} {{currency}}</strong></td>
        </tr>
      </tbody>
    </table>

    <br />
    <br />

    <div class="address">
      <strong>SAS Diggers Factory</strong><br />
      10 Boulevard Arago, 75013, Paris<br />
      Siret : 813 648 714 00018<br />
      TVA Intra : FR 33 813648714<br />
      www.diggersfactory.com
    </div>
  </div>
</body>
</html>