<table class="order">
  @each(item in items)
  <tr>
    <td width="60"><img width="50" src="{{item.picture}}" alt="{{item.name}}" /></td>
    <td width="30" class="total">{{item.quantity}} x</td>
    <td width="100%">
      <a href="{{Env.get('APP_URL')}}/vinyl/${item.project_id}/{{item.slug}}">
        <b>{{item.artist_name}}</b><br/>{{item.name}}
      </a>
      <br />
    </td>
    <td class="total">
      {{item.total}} {{cur[item.currency]}}
    </td>
  </tr>
  @endeach
</table>