<!doctype html>
<html lang="fr">
<head>
  <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
  <title>ilycoach</title>
  <style>
    body, html {
      font-size: 14px;
    }
    a {
      color: #666;
      border: 0;
      text-decoration: none;
    }
    p {
      margin: 16px 0;
    }
    .content {
      margin: 10px 0;
    }
    table {
      text-align: center;
      text-align: left;
      font-family: 'Arial';
      line-height: 24px;
      width: 100%;
    }
    td, th {
      padding: 2px 5px;
      border-bottom: 1px solid #F0F0F0;
    }

    tr:last-child td, tr:last-child th {
      border: 0;
    }
  </style>
</head>
<body>
  <div class="content">
    <table>
      <tr>
        <th>Message</th>
        <td>{{ message }}</td>
      </tr>
      <tr>
        <th>Code</th>
        <td>{{ code }}</td>
      </tr>
      <tr>
        <th>File</th>
        <td>{{ file }}</td>
      </tr>
      <tr>
        <th>Line</th>
        <td>{{ line }}</td>
      </tr>
      <tr>
        <th>Url</th>
        <td>{{ url }}</td>
      </tr>
      <tr>
        <th>Method</th>
        <td>{{ method }}</td>
      </tr>
      <tr>
        <th>Get</th>
        <td>{{ get }}</td>
      </tr>
      <tr>
        <th>Post</th>
        <td>{{ post }}</td>
      </tr>
      <tr>
        <th>Stack</th>
        <td>{{{ stack }}}</td>
      </tr>
    </table>
  </div>
</body>
</html>


